/*
Theme Name: DARA Rehab
Author: Evaero Digital Marketing
Author URI: http://digitalmarketing.evaero.co/
*/

@import url(css/bootstrap.css);
@import url(css/style.css);
@import url(css/jquery.fancybox.css);


/*-----[ WordPress-Specific ]-----*/

#wpadminbar { z-index:99999999 !important }
.header span.page-title {
	color: #fff;
	display: inline-block;
	font: 48px 'Raleway Light', sans-serif;
	margin-top: 185px;
	text-align: center;
	text-shadow: 0 0 5px #000;
	text-transform: uppercase;
	width: 100%;
	z-index: 999;
}

/*
Theme Name: DARA Rehab
Author: Evaero Digital Marketing
Author URI: http://digitalmarketing.evaero.co/
*/

.staff_title_style