@font-face {
	font-family: 'Lato Light';
	src: url('lato-lig-webfont.eot');
	src: url('lato-lig-webfont.eot?#iefix') format('embedded-opentype'),
		 url('lato-lig-webfont.woff') format('woff'),
		 url('lato-lig-webfont.ttf') format('truetype'),
		 url('lato-lig-webfont.svg#latolight') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'Myriad Pro Regular';
	src: url('../fonts/MyriadPro-Regular-webfont.eot');
	src: url('../fonts/MyriadPro-Regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/MyriadPro-Regular-webfont.woff') format('woff'),
		 url('../fonts/MyriadPro-Regular-webfont.ttf') format('truetype'),
		 url('../fonts/MyriadPro-Regular-webfont.svg#myriadpro_regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans Bold';
	src: url('../fonts/OpenSans-Bold-webfont.eot');
	src: url('../fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/OpenSans-Bold-webfont.woff') format('woff'),
		 url('../fonts/OpenSans-Bold-webfont.ttf') format('truetype'),
		 url('../fonts/OpenSans-Bold-webfont.svg#open_sans_bold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans Cond Bold';
	src: url('../fonts/OpenSans-Condbold-webfont.eot');
	src: url('../fonts/OpenSans-Condbold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/OpenSans-Condbold-webfont.woff') format('woff'),
		 url('../fonts/OpenSans-Condbold-webfont.ttf') format('truetype'),
		 url('../fonts/OpenSans-Condbold-webfont.svg#open_sans_condensedbold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans Cond Light';
	src: url('../fonts/OpenSans-CondLight-webfont.eot');
	src: url('../fonts/OpenSans-CondLight-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/OpenSans-CondLight-webfont.woff') format('woff'),
		 url('../fonts/OpenSans-CondLight-webfont.ttf') format('truetype'),
		 url('../fonts/OpenSans-CondLight-webfont.svg#open_sanscondensed_light') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans Cond Light Italic';
	src: url('../fonts/OpenSans-CondLightItalic-webfont.eot');
	src: url('../fonts/OpenSans-CondLightItalic-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/OpenSans-CondLightItalic-webfont.woff') format('woff'),
		 url('../fonts/OpenSans-CondLightItalic-webfont.ttf') format('truetype'),
		 url('../fonts/OpenSans-CondLightItalic-webfont.svg#open_sansCnLtIt') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans Italic';
	src: url('../fonts/OpenSans-Italic-webfont.eot');
	src: url('../fonts/OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/OpenSans-Italic-webfont.woff') format('woff'),
		 url('../fonts/OpenSans-Italic-webfont.ttf') format('truetype'),
		 url('../fonts/OpenSans-Italic-webfont.svg#open_sansItalic') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans ExtraBold';
	src: url('../fonts/OpenSans-ExtraBold-webfont.eot');
	src: url('../fonts/OpenSans-ExtraBold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/OpenSans-ExtraBold-webfont.woff') format('woff'),
		 url('../fonts/OpenSans-ExtraBold-webfont.ttf') format('truetype'),
		 url('../fonts/OpenSans-ExtraBold-webfont.svg#open_sansExtraBold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans Regular';
	src: url('../fonts/OpenSans-Regular-webfont.eot');
	src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
		 url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
		 url('../fonts/OpenSans-Regular-webfont.svg#open_sansRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans Semibold';
	src: url('../fonts/OpenSans-Semibold-webfont.eot');
	src: url('../fonts/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/OpenSans-Semibold-webfont.woff') format('woff'),
		 url('../fonts/OpenSans-Semibold-webfont.ttf') format('truetype'),
		 url('../fonts/OpenSans-Semibold-webfont.svg#open_sansSemibold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Playfair Display Bold';
	src: url('../fonts/PlayfairDisplay-Bold-webfont.eot');
	src: url('../fonts/PlayfairDisplay-Bold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/PlayfairDisplay-Bold-webfont.woff') format('woff'),
		 url('../fonts/PlayfairDisplay-Bold-webfont.ttf') format('truetype'),
		 url('../fonts/PlayfairDisplay-Bold-webfont.svg#playfair_display_bold') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'Playfair Display Bold-Italic';
	src: url('../fonts/PlayfairDisplay-BoldItalic-webfont.eot');
	src: url('../fonts/PlayfairDisplay-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/PlayfairDisplay-BoldItalic-webfont.woff') format('woff'),
		 url('../fonts/PlayfairDisplay-BoldItalic-webfont.ttf') format('truetype'),
		 url('../fonts/PlayfairDisplay-BoldItalic-webfont.svg#playfair_displaybold_Italic') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Playfair Display Italic';
	src: url('../fonts/PlayfairDisplay-Italic-webfont.eot');
	src: url('../fonts/PlayfairDisplay-Italic-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/PlayfairDisplay-Italic-webfont.woff') format('woff'),
		 url('../fonts/PlayfairDisplay-Italic-webfont.ttf') format('truetype'),
		 url('../fonts/PlayfairDisplay-Italic-webfont.svg#playfair_displayItalic') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Playfair Display Regular';
	src: url('../fonts/PlayfairDisplay-Regular-webfont.eot');
	src: url('../fonts/PlayfairDisplay-Regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/PlayfairDisplay-Regular-webfont.woff') format('woff'),
		 url('../fonts/PlayfairDisplay-Regular-webfont.ttf') format('truetype'),
		 url('../fonts/PlayfairDisplay-Regular-webfont.svg#playfair_displayRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Playfair Display SC Regular';
	src: url('../fonts/PlayfairDisplaySC-Regular-webfont.eot');
	src: url('../fonts/PlayfairDisplaySC-Regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/PlayfairDisplaySC-Regular-webfont.woff') format('woff'),
		 url('../fonts/PlayfairDisplaySC-Regular-webfont.ttf') format('truetype'),
		 url('../fonts/PlayfairDisplaySC-Regular-webfont.svg#playfair_display_scRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway Bold';
	src: url('../fonts/raleway-bold-webfont.eot');
	src: url('../fonts/raleway-bold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/raleway-bold-webfont.woff') format('woff'),
		 url('../fonts/raleway-bold-webfont.ttf') format('truetype'),
		 url('../fonts/raleway-bold-webfont.svg#ralewaybold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway Extra Bold';
	src: url('../fonts/raleway-extrabold-webfont.eot');
	src: url('../fonts/raleway-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/raleway-extrabold-webfont.woff') format('woff'),
		 url('../fonts/raleway-extrabold-webfont.ttf') format('truetype'),
		 url('../fonts/raleway-extrabold-webfont.svg#ralewayExtraBold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway Extra Light';
	src: url('../fonts/raleway-extralight-webfont.eot');
	src: url('../fonts/raleway-extralight-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/raleway-extralight-webfont.woff') format('woff'),
		 url('../fonts/raleway-extralight-webfont.ttf') format('truetype'),
		 url('../fonts/raleway-extralight-webfont.svg#ralewayextralight') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway Heavy';
	src: url('../fonts/raleway-heavy-webfont.eot');
	src: url('../fonts/raleway-heavy-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/raleway-heavy-webfont.woff') format('woff'),
		 url('../fonts/raleway-heavy-webfont.ttf') format('truetype'),
		 url('../fonts/raleway-heavy-webfont.svg#ralewayheavy') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway Light';
	src: url('../fonts/raleway-light-webfont.eot');
	src: url('../fonts/raleway-light-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/raleway-light-webfont.woff') format('woff'),
		 url('../fonts/raleway-light-webfont.ttf') format('truetype'),
		 url('../fonts/raleway-light-webfont.svg#ralewaylight') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway Medium';
	src: url('../fonts/raleway-medium-webfont.eot');
	src: url('../fonts/raleway-medium-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/raleway-medium-webfont.woff') format('woff'),
		 url('../fonts/raleway-medium-webfont.ttf') format('truetype'),
		 url('../fonts/raleway-medium-webfont.svg#ralewaymedium') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway Regular';
	src: url('../fonts/raleway-regular-webfont.eot');
	src: url('../fonts/raleway-regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/raleway-regular-webfont.woff') format('woff'),
		 url('../fonts/raleway-regular-webfont.ttf') format('truetype'),
		 url('../fonts/raleway-regular-webfont.svg#ralewayregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway Semibold';
	src: url('../fonts/raleway-semibold-webfont.eot');
	src: url('../fonts/raleway-semibold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/raleway-semibold-webfont.woff') format('woff'),
		 url('../fonts/raleway-semibold-webfont.ttf') format('truetype'),
		 url('../fonts/raleway-semibold-webfont.svg#ralewaysemibold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway Thin';
	src: url('../fonts/raleway-thin-webfont.eot');
	src: url('../fonts/raleway-thin-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/raleway-thin-webfont.woff') format('woff'),
		 url('../fonts/raleway-thin-webfont.ttf') format('truetype'),
		 url('../fonts/raleway-thin-webfont.svg#ralewaythin') format('svg');
	font-weight: normal;
	font-style: normal;
}