/*----------[ Imports ]----------*/

@import url(responsive-slides.css);
@import url(demo.css);





/*----------[ Navigation ]----------*/

.navbar-default {
	background-color: rgba(102,51,0,0.9);
	height: 62px;
	z-index: 99999999;
}

.navbar {
	line-height: 20px;
	padding: 0;
}

	.navbar img.logo {
		display: none;
	}

ul.nav.navbar-nav {
	padding-top: 0;
}

.nav > li {
	float: left;
}

.nav li a {
	padding: 15px 10px;
}





/*----------[ Hero ]----------*/

#wrap > .hero {
	background: #000;
	background-size: cover;
	min-height: 570px;
	position: relative;
	z-index: 1;
}

	#wrap > .hero .lead a{
		color: #F4DB87;
		font-size: 20px;
		font-weight: 800;
	}
	#wrap > .hero .lead a.button{
		color: white;
	}

.hero .arrow {
	background: transparent;
	bottom: 0;
	display: block;
	height: 60px;
	position: absolute;
	width: 100%;
	z-index: 9999;
}

	.hero .arrow .triangle-left,
	.hero .arrow .triangle-right {
		background: #fff;
		float: left;
		height: 60px;
		width: calc(50% - 60px);
	}

	.hero .arrow .triangle-center {
		border-left: 60px solid #fff;
		border-right: 60px solid #fff;
		border-top: 60px solid transparent;
		float: left;
		height: 0;
		width: 0;
	}

.hero .callbacks_container {
	height: 100%;
	position: relative;
	width: 100%;
}

.hero .callbacks_container ul.rslides {
	background: #000;
	 height: 100%;
	 position: absolute;
	 min-height: 570px;
	 width: 100%;
}

	.hero .callbacks_nav {
		top: 315px;
	}

	.hero .callbacks_container ul.rslides li {
		height: 100%;
		position: absolute;
		width: 100%;
	}

	.hero .callbacks_container ul.rslides li > .overlay {
		background: #000;
		height: 100%;
		opacity: 0.2;
		position: absolute;
		width: 100%;
	}

.page-header {
	border: 0;
	color: #fff;
	padding-top: 62px;
	text-align: center;
}

p.lead {
	background: rgba(102,51,0,0.8);
	color: #fff;
	font: 18px 'Open Sans Regular', sans-serif;
	max-height: 259px;
	outline: 0;
	overflow: hidden;
	padding: 20px;
	text-align: center;
	max-width: 750px;
}

	p.lead button {
		background: rgba(255,255,255,0.3);
		border: 3px solid rgba(255,255,255,0.8);
		border-radius: 0;
		color: #fff;
		font: 18px 'Raleway Regular', sans-serif;
		padding: 12px 20px;
		text-transform: uppercase;
		-webkit-transition: .2s ease-in-out;
		   -moz-transition: .2s ease-in-out;
			-ms-transition: .2s ease-in-out;
			 -o-transition: .2s ease-in-out;
				transition: .2s ease-in-out;
	}

		p.lead button:hover,
		p.lead button:active {
			border: 3px solid rgba(75,44,15,0.3);
			color: rgba(102,51,0,1.0);
		}

a.button.slider {
	background: rgba(255,255,255,0.3);
	border: 3px solid rgba(255,255,255,0.8);
	border-radius: 0;
	color: #fff;
	font: 18px 'Raleway Regular', sans-serif;
	padding: 12px 20px;
	text-transform: uppercase;
	-webkit-transition: .2s ease-in-out;
	   -moz-transition: .2s ease-in-out;
		-ms-transition: .2s ease-in-out;
		 -o-transition: .2s ease-in-out;
			transition: .2s ease-in-out;
}

	a.button.slider:hover {
		background: rgba(255,255,255,0.8);
		border: 3px solid rgba(75,44,15,0.3);
		color: #663300;

}




/*----------[ Sub-Hero Content ]----------*/

.main .text {
	background: url('../img/home-main-logo.png') no-repeat right 20%;
	padding: 30px 0 10px;
}

.main h1 {
	font-size: 44px;
}

.main .text a.button {
	color: #fff;
}

	.main .text a.button:hover,
	.main .text a.button:active {
		color: #663300;
	}

.main p {
	margin: 0 0 10px;
}

@media (max-width: 1365px) {
	.main p {
		padding-right: 100px;
	}
}







/*----------[ Sub-Hero Content: Social Media ]----------*/

.main .social {
	margin-top: -30px;
}





/*----------[ Photo Gallery ]----------*/

.photos {
	background: url('../img/overlay-dot-dark2.png'),
				url('../img/home-photos-banner.png') no-repeat center center / cover;
	height: 1282px !important;
	z-index: 1;
}

	.photos .banner {
		/*background: url('../img/overlay-dot-dark.png'),
					url('../img/home-photos-banner.png') no-repeat center center / cover;*/
		height: 111px;
		z-index: 1;
	}

		.photos .banner span {
			color: #fff;
			z-index: 1;
		}

		.photos .banner span:nth-child(1) {
			float: left;
			font: 48px 'Raleway Light', sans-serif;
			line-height: 111px;
			margin-left: 15px;
		}

		.photos .banner span:nth-child(2) {
			float: right;
			font: 18px 'Open Sans Light', sans-serif;
			line-height: 111px;
			margin-right: 20px;
		}

		@media (max-width: 399px) {
			.photos .banner .container span {
				clear: both;
				display: block;
				float: none;
				line-height: 30px;
				margin: 0 auto;
				text-align: center;
				white-space: normal;
			}
			.photos .banner span:nth-child(1) {
				margin: 30px auto 0;
			}
		}

			.photos .banner span a:hover {
				color: #fff;
			}

	.photos > .container {
		padding: 0 75px;
		text-align: center;
	}

.photos .cycle-slideshow {
	display: block;
	float: left;
	z-index: 0;
}

	.photos .cycle-slideshow .cycle-overlay {
		background: rgba(0,0,0,0.7);
		bottom: 0;
		color: #fff;
		opacity: 0.7;
		padding: 15px;
		position: absolute;
		width: 100%;
		z-index: 600;
	}

		.photos .cycle-slideshow img {
			z-index: -999;
		}

/*.cycle-paused .gallery-01 {
	background: rgba(0,0,0,0.6);
	color: #fff;
	display: block;
	height: 264px;
	padding: 10px;
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0; margin: auto;
	z-index: 99999;
}

.cycle-paused .gallery-01:after {
	content: 'Test';
}*/

@media (max-width: 1199px) {
	div.photos div.container {
		padding: 0 145px;
	}
	div.cycle-slideshow:last-of-type,
	div.cycle-slideshow:nth-last-of-type(2){
		display: none;
	}
}

@media (max-width: 991px) {
	div.photos div.container {
		padding: 0 205px;
	}
	div.cycle-slideshow:nth-last-of-type(3),
	div.cycle-slideshow:nth-last-of-type(4){
		display: none;
	}
}

@media (max-width: 711px) {
	div.photos div.container {
		padding: 0 30px;
	}
}





/*----------[ Map ]----------*/

.map {
	background: url('../img/overlay-crosshatch2.png'),
				url('../img/home-map-bg.png') no-repeat center center / cover;
	height: 547px;
	padding: 60px 0;
}

	.map .container {
		background: url('../img/home-map.png') no-repeat;
		height: 100%;
		position: relative;
	}

	.map .callout {
		background: rgba(255,255,255,0.6);
		display: block;
		margin: 50px 0 0 20px;
		min-height: 280px;
		padding: 20px 30px;
		width: 400px;
	}

	@media (max-width: 991px) {
		.map .callout {
			margin: 50px auto;
		}
	}

		.map .callout span {
			border-bottom: 1px solid #603913;
			color: #603913;
			display: inline-block;
			font: 48px 'Raleway Light', sans-serif;
			padding: 0 10px 5px;
			width: 100%;
		}

		.map .callout p {
			color: #603913;
			font: 22px 'Open Sans Light', sans-serif;
			padding: 20px 10px 0;
		}

	.map ul {
		list-style: none;
		margin: 0;
		position: absolute;
		padding: 0;
		top: 0;
	}

		.map ul.tacks li {
			float: left;
			position: absolute;
			text-indent: -9999px;
		}

			.map ul.tacks li a {
				display: block;
				height: 56px;
				width: 41px;
			}

			.map ul.tacks li a + div {
				background: transparent;
				display: none;
				height: 165px;
				position: absolute;
				width: 200px;
			}

				.map ul.tacks li:nth-child(1) a + div { left: -170px; top: -140px; }
				.map ul.tacks li:nth-child(2) a + div { left: -200px; top: 0px; }
					.map ul.tacks li:nth-child(2) a + div > div { top: 20px; }

			.map ul.tacks li a + div > div {
				background: rgba(255,255,255,0.9);
				color: #663300;
				display: block;
				font: 18px 'Raleway Light', sans-serif;
				height: 125px;
				position: relative;
				text-align: center;
				text-indent: 0;
				width: 185px;
			}

				.map ul.tacks li a + div > div:after {
					border-color: rgba(255,255,255,0.9) transparent;
					border-style: solid;
					content: "";
					display: block;
					position: absolute;
					width: 0;
					text-shadow: 0 5px 0 0 black;
				}

					.map ul.tacks li:nth-child(1) a + div > div:after { border-width: 20px 0 0 20px; bottom: -20px; left: 165px; }
					.map ul.tacks li:nth-child(2) a + div > div:after { border-width: 20px 20px 0 0; top: 0; left: 100%; }


				.map ul.tacks li a + div > div span:first-child {
					clear: both;
					display: block;
					font-size: 28px;
					padding-top: 10px;
					position: relative;
				}

				.map ul.tacks li a + div > div a.button {
					background: rgba(102,51,0,0.075);
					border: 2px solid #663300;
					border-radius: 0;
					color: #663300;
					font: 11px 'Raleway Semibold', sans-serif;
					height: auto;
					margin: 10px auto 0;
					padding: 5px;
					text-transform: uppercase;
					width: 100px;
				}

					.map ul.tacks li a + div > div a.button:hover,
					.map ul.tacks li a + div > div a.button:active {
						background: rgba(102,51,0,0.5);
						color: #fff;
					}

		.map ul.tacks li:nth-child(1) { background: url('../img/home-map-tacks.png') no-repeat 0 0; height: 56px; left: 845px; top: 215px; width: 41px; }
		.map ul.tacks li:nth-child(2) { background: url('../img/home-map-tacks.png') no-repeat -41px 0; height: 56px; left: 875px; top: 272px; width: 41px; }

		.map ul.tacks li:nth-child(1):hover a + div,
		.map ul.tacks li:nth-child(1):active a + div { display: block; }

		.map ul.tacks li:nth-child(2):hover a + div,
		.map ul.tacks li:nth-child(2):active a + div { display: block; }

	@media (max-width: 776px) {
		.map ul.tacks {
			display: none;
		}
	}





/*----------[ Sub-Map Content ]----------*/

#home .content {
	color: #663300;
	min-height: 400px;
	padding: 50px 0;
}

	#home .content p {
		margin: 10px 0;
		max-width: none;
	}

	#home .content h2:not(:first-child) {
		font-size: 32px;
		margin-top: 25px;
	}

	#home .content ul {
		list-style: square;
	}

		#home .content ul li {
			color: #663300
		}





/*----------[ Footer ]----------*/

#home .footer {

}

.footer .top span.mobile {
	display: none;
}

@media (max-width: 776px) {
	.footer .top span.desktop {
		display: none;
	}
	.footer .top span.mobile {
		display: block;
	}
}











@media (max-width: 991px) {
	#home  .nav > li {
		float: none;
	}
	#home .photos {
		height: auto !important;
		padding: 0 0 60px;
	}
	#home div.photos div.container {
		padding: 0 15px;
	}
	#home .photos .banner span:nth-child(1),
	#home .photos .banner span:nth-child(2) {
		display: block;
		float: none;
		line-height: 16px;
		margin: 15px;
		text-align: center;
	}
	#home .photos .banner span:nth-child(1) {
		line-height: 44px;
		padding-top: 30px;
	}
	#home .photos .banner span:nth-child(2) {
		text-transform: uppercase;
	}
	#home .photos .banner {
		height: auto !important;
	}
	#home .content,
	#home .content p {
		text-align: center;
	}
	#home .footer {
		height: auto;
	}
	#home .footer .top {
		height: auto;
		padding: 40px 0;
	}
}















@media (max-width: 454px) {

	.main .social {
		margin-top: 0px;
		text-align: center;
	}

	.main .social > div {
		padding-bottom: 15px;
	}

	.main .social img {
		display: none;
	}

	.main .social tbody,
	.main .social tr {
		display: block;
		width: 100%;
	}

	.main .social tr:not(:last-child) {
		padding-bottom: 10px;
	}

	.main .social td {
		display: block !important;
		float: none !important;
		padding: 0 !important;
	}

}