#wrap > .hero {
	background: url(../landing/img/hero-bg.jpg) no-repeat center center;\
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.page-header {
	padding: 0;
}

p.lead {
	margin: 40px auto;
}