/*----------[ Imports ]----------*/

@import url(fonts.css);
@import url(http://fonts.googleapis.com/css?family=Alegreya);


/*----------[ Sticky Footer Styles ]----------*/

html,
body {
	height: 100%;
}

#wrap {
	min-height: 100%;
	height: auto;
	margin: 0 auto -60px;
	padding: 0 0 60px;
}

.footer {
//	height: 935px;
	background-color: #f5f5f5;
}


/*----------[ General ]----------*/

.noshow {
	display: none;
}

#wrap > .hero > .container {
	padding: 60px 15px 0;
}
.container .text-muted {
	margin: 20px 0;
}

.footer > .container {
	padding-left: 15px;
	padding-right: 15px;
}

code {
	font-size: 80%;
}

a,
a span {
	-webkit-transition: .3s ease-out;
	   -moz-transition: .3s ease-out;
		-ms-transition: .3s ease-out;
		 -o-transition: .3s ease-out;
			transition: .3s ease-out;
}

.button {
	background: #663300;
	border: 3px solid #663300;
	border-radius: 0;
	color: #fff;
	display: inline-block;
	margin: 10px 0;
	padding: 10px 15px;
}

	.button:hover {
		background: rgba(102,51,0,0.1);
		border: 3px solid rgba(102,51,0,0.8);
		color: #2e2400;
		text-decoration: none;
	}

h2 {
	color: #663300;
	display: block;
	font: 36px 'Raleway Light', sans-serif;
	margin-top: 0;
}

h3,
span.subtitle {
	font: 24px 'Raleway Light', sans-serif;
}

	span.subtitle {
		display: block;
		margin-bottom: 5px;
	}

p,
ul {
	font: 16px 'Open Sans Light', sans-serif;
}

ul li {
	line-height: 20px;
	margin-bottom: 5px;
}

span.required {
	color: red;
}


/*----------[ Navigation ]----------*/

.navbar-default {
	background-color: rgba(102,51,0,0.9);
	float: left;
	height: 128px;
	white-space: nowrap;
	z-index: 999;
}

ul.nav.navbar-nav {
	font: 0.875em 'Raleway', sans-serif;
	text-transform: uppercase;
}

.navbar {
	line-height: 20px;
	padding: 15px 0 0;
}

	.navbar-nav > li > a {
		padding: 0;
	}

.navbar img.logo {
	display: block;
	margin: 0 auto 10px;
}

.nav {
	list-style: none;
	position: relative;
	text-align:center;
	width: 100%;
}

.nav > li {
	display: inline-block;
	float: none;
	height: 100%;
	overflow: visible;
	position: relative;
	padding: 0 10px;
}

	.nav li:hover {
		background: #f1f1f1;
	}

		.nav li:hover a,
		.nav li a:hover {
			color: #663300 !important;
			text-decoration: none !important;
		}

.nav li a {
	display: inline-block;
	padding: 5px 0;
}

	.nav ul {
		background: #f1f1f1;
		position: absolute;
		left: -9999px;
		margin: 0;
		padding: 15px 0;
		text-align: left;
		width: 250px;
			min-width: 100%;
	}

	.nav ul li {
		display: block;
		padding: 0 20px;
		-webkit-transition: .1s ease-in-out;
		   -moz-transition: .1s ease-in-out;
			-ms-transition: .1s ease-in-out;
			 -o-transition: .1s ease-in-out;
				transition: .1s ease-in-out;
	}

	.nav ul li:hover {
		background: #fff !important;
	}

		.nav ul li a {
			padding: 5px 0;
			text-transform: none;
		}

	.nav li:hover ul {
		left: 0;
	}

	.nav li:hover a {
		text-decoration: underline;
		background: #f1f1f1;
	}

	.nav li:hover ul a {
		background: none;
		display: block;
		text-decoration: none;
		width: 100%;
	}

	.nav li:hover ul a:hover {
		text-decoration: underline;
	}

	.nav ul a {
		white-space: nowrap;
		display: block;
	}

.fancybox-wrap {
	z-index: 99999999;
}

.fancybox-opened {
	position: absolute;
	outline: none;
	z-index: 9999999999;
}

.fancybox-margin {
	z-index: 999;
}

#form {
	background: #fff;
	padding: 30px 30px 10px;
}

.main .text img{
	max-width: 100%;
	height: auto;
}

.top-ten-award{
	display: block;
	float: right;
}


@media(max-width:1199px){
	.col-lg-8.col-md-pull-4{
		right:0;
	}
}


@media (max-width: 1199px) {
	ul.nav.navbar-nav {
		font-size: 0.825em;
	}
	.contact-bar .phone{
		display:none;
	}
	.contact-bar .email,
	.contact-bar .skype{
		float:left;
		width: 50%;
	}
		.contact-bar span:first-child{
			border:none !important;
		}
 
		.contact-bar a:hover span {
			background-color: none !important;
		}
	.contact-bar .email{
		border-right: 2px solid #fff;
	}
	.contact-bar .skype{
		border-left: 2px solid #fff;
	}
	.contact-bar span{
		font-size: 16px;
	}

}


@media (max-width: 991px) {
	ul.nav.navbar-nav {
		font-size: 0.675em;
	}
	ul.nav.navbar-nav li {
		padding: 0;
	}
}


@media (min-width: 768px){
	#phone-mobile,
	.sub-trigger{
		display: none;
	}
}

/* START MOBILE LAYOUT */
@media (max-width: 767px) {
	div.navbar-header {
		line-height: 62px;
		text-align: center;
	}
	div.navbar-header button.navbar-toggle {
		float: none;
	}

	.navbar.navbar-default{
		height: 80px;
		padding: 0;
		background: rgb(102,51,0);
	}
		.navbar-header{
			position: absolute;
			left:0;
			top: 0;
		}

			.navbar-toggle{
				border-radius: 0;
				border:none;			
				position: absolute;
				top: 0;
				left: 15px;
				margin: 0;
				height: 80px;
				width: 78px;
				padding: 20px;
			}
			.navbar-toggle.collapsed{
				background: none;
			}
			.navbar-toggle:not(.collapsed){
				background: #fff !important;
			}

			.navbar-default .navbar-toggle .icon-bar{
				width: 100%;
				background-color: #f0b054;
			}
			.navbar-default .navbar-toggle:hover, 
			.navbar-default .navbar-toggle:focus{
				background: none;
			}

			.navbar-toggle .icon-bar + .icon-bar{ margin-top: 7px; }


			#phone-mobile{
				display: block;
			}
				#phone-mobile .trigger{
					background: url('../img/mobile-phone-icon.jpg') no-repeat;
					width: 80px;
					height: 80px;
					border:none;
					position: absolute;
					top: 0;
					right: 0;
				}


		.navbar-default .navbar-collapse{
			margin-top: 14px;
			border:none;
			background: #fff !important;
		}		
			.navbar-default .navbar-nav{
				margin: 0;
			}
			.navbar-default .navbar-nav li a,
			.navbar-default .navbar-collapse ul.nav.navbar-nav ul li a{
				color: #3e2b1d;
			}

			.navbar-default .navbar-nav li{
				display: block;
				float: none;
				text-align: left;
				border-bottom: 1px solid #efc68b;
				margin: 0 21px;
				
			}

			.navbar-default .navbar-nav > li:before,
			.navbar-default .navbar-nav > li:after {
			    content: " ";
			    display: table;
			}

			.navbar-default .navbar-nav > li:after {
			    clear: both;
			}

			.navbar-default .navbar-nav li a{
				text-align: left;
				font-size: 26px;
				padding: 15px 20px;
				
			}
			.navbar-default .navbar-nav > li > a{
				float:left;
				width: 70%;
			}

			.navbar-default .sub-trigger{
				background: #f0b054;
				color: #fff;
				height: 100%;
				width: 40px;
				cursor: pointer;
				padding: 10px 0;
				display: block;
				float: right;
				clear: right;
				margin: 10px 10px 0;
			}
				.navbar-default .sub-trigger .icon{
					font-size: 38px;
					text-align: center;
					display: block;
					-webkit-transition: all .2s ease-in-out;
					-moz-transition: all .2s ease-in-out;
					transition: all .2s ease-in-out;

				}

				.navbar-default .sub-trigger.on .icon{
					-webkit-transform: rotateZ(45deg);
					-moz-transform: rotateZ(45deg);
					-o-transform: rotateZ(45deg);
					-ms-transform: rotateZ(45deg);
					transform: rotateZ(45deg);
					transform-origin: 50% 50%;
				}

				.navbar-default .sub-menu{
					position: relative;
					left: initial;
					width: 100%;
					display:none;
					background:none;
					margin-top: 50px;
				}
					.navbar-default .sub-menu li{
						clear: both;
					}
				.navbar-default .sub-menu.on{
					display:block;
				}

		.nav li:hover,
		.nav li:hover a{
			background: none !important;
		}
		.nav li:hover ul{
			left: 0;
		}	


		.numbers{
			-webkit-transform: scaleY(0);
      		-ms-transform: scaleY(0);
            transform: scaleY(0);
			-webkit-transform-origin: top center;
		    -ms-transform-origin: top center;
		    transform-origin: top center;
			-webkit-transition: -webkit-transform .1s ease-in-out;
		    transition: transform .1s ease-in-out;
			position: absolute;
			left:0;
			top: 80px;
			background: #fff;
		}
			.numbers ul{
				margin: 0;
				padding: 0;
			}
			.numbers li{
				float: none;
				display: block;
				padding: 0;
				border-bottom: 1px solid #efc68b;
				margin: 0 21px;
				color: #f0b054;
			}
			.numbers .numbers-wrap{
				white-space: normal;
				font-size: 18px;
				font-family: 'Open Sans Regular', sans-serif;
				padding: 15px 20px;
				display: block;
			}
			.numbers .numbers-wrap a{
				color: #3e2b1d;
				font-family: 'Open Sans Light', sans-serif;
			}
		.numbers.on{
			-webkit-transform: scaleY(1);
      		-ms-transform: scaleY(1);
          	transform: scaleY(1);
		}

		#logo {
			width: 172px;
			height: 40px;
			background: url('../img/text-logo.png') no-repeat;
			background-size: 100% auto;
			margin: 20px auto 0;
			display: block;
		}
		#logo .logo{
			display: none;
		}

	.main .text h1,
	.main .text h2,
	.content h2,
	.content h3{
		text-align: left !important;
		font-size: 36px;
	}
	.main .text p,
	.content p,
	.main .container li{
		text-align: left !important;
	}

	

	.photos .container span:first-child{
		font-size: 36px !important;
	}

	.map .container{
		background: rgba(255, 255, 255, .7) !important;
		width: 90%;
	}
	.map .callout{
		background: none !important;
		margin: 0 !important;
		padding: 0 !important;
	}
	.map .tacks{
		position: relative;
		display: block !important;
	}
		.map .tacks li{
			position: relative !important;
			left: initial !important;
			top: initial !important;
			text-indent: 0 !important;
			text-align: center !important;
			border: 4px solid #fff;
			background: #f0b054 !important;
			width: 80% !important;
			float:none !important;
			margin: 0 auto 15px !important;
			line-height: 56px !important;
		}	
		.map .tacks li a{
			width: 100% !important;
			height: 100% !important;
			text-align: center !important;
		}
		.map ul.tacks li:nth-child(1):hover a + div, .map ul.tacks li:nth-child(1):active a + div,
		.map ul.tacks li:nth-child(2):hover a + div, .map ul.tacks li:nth-child(2):active a + div{
			display: none !important;
		}

	.footer .top .text span{
		font-size: 36px !important;
	}
	.footer .bottom{
		height: auto !important;
	}
	.footer .bottom .col-lg-3{
		display: block;
	}
		.footer .bottom .col-lg-3:first-child,
		.footer .bottom .col-lg-3:nth-child(2){
			width: 50% !important;
			float: left !important;
		}
		

		.footer .bottom .col-lg-3:nth-child(3){
			text-align: center;
		}
		.footer .bottom .social{
			display: block !important;
			text-align: center;
		}

		.footer .bottom ul.social li{
			display: inline-block !important;
			float: none !important;
		}
		.footer .bottom .col-lg-3:nth-child(4) {
			text-align: center;
		}
		

	.footer .bottom .col-lg-3:first-child ul,
	.footer .bottom .col-lg-3:nth-child(2) ul{
		display: none;
	}

	.header > h1{
		font-size: 36px !important;
		margin-top: 105px !important;
	}

	.main .pagination li{
		display: inline-block !important;
		margin-bottom: 25px !important;
	}


}

@media (max-width: 550px) {
	.top-ten-award{
		display: block;
		float: none;
		margin: auto !important;
	}

	.navbar-default .navbar-nav li a{
		font-size: 18px;
		white-space:normal;
	}

	div.cycle-slideshow:nth-last-of-type(5){
		display: none;
	}
	.footer .bottom .col-lg-3:first-child img,
	.footer .bottom .col-lg-3:nth-child(2) img{
		width: 80%;
		height: auto;
	}
	.footer .bottom .col-lg-3:nth-child(4) img{
		width: 80%;
		height: auto;
	}

}


@media (max-width: 400px) {

	#logo {
		width: 120px;
		margin: 26px auto 0;
	}
	.hero{
		height: 600px;
	}
	.hero .callbacks_container{
		margin-bottom: 0;
	}
	.hero .callbacks_container .page-header{
		width: 160px;
		margin-left: auto;
		margin-right: auto;
	}
		.hero .callbacks_container .page-header img{
			width: 100%;
			height: auto;
		}	
			.hero .callbacks_container .rslides{
				height: 600px;
			}
			.hero .callbacks_container .container .lead{
				font-size: 16px;
				max-height: initial;
			}

	.contact-bar .email,
	.contact-bar .skype{
		height: 112px;
	}
	.contact-bar a{
		height: 112px;
		padding: 34px 0 0;
		display: block;
	}
	.contact-bar .email a > span,
	.contact-bar .skype a > span{
		line-height: 100% !important;
		height: auto !important;
	}
		
		.contact-bar .email a span > span,
		.contact-bar .skype a span > span{
			height: 28px !important;
			background-size: auto 200% !important;
			display: block;
			margin: 10px auto 0;
		}
		.contact-bar .email a span > span{
			width: 31px !important;
			background-position: -37px top !important;
		}
		.contact-bar .skype a span > span{
			width: 29px !important;
			background-position: right top !important;
		}

		.contact-bar div.col-lg-4.skype a:hover span > span{
			background-position: right bottom !important;
		}
		.contact-bar div.col-lg-4.email a:hover span > span{
			background-position: -37px bottom !important;
		}


}


/*----------[ipad]--------------*/
.touch {
			.container{
				width: initial;
			}

			.social{
				display:none;
			}
			#wrap .navbar-default .navbar-collapse{
				margin-left: -15px;
				margin-right: -15px;
				display: none !important;
			}
			#wrap .navbar-default .navbar-collapse.in{
				display: block !important;
				overflow-y: auto !important;
				
			}
			ul.nav.navbar-nav {
				font-size: 0.825em;
			}
			.contact-bar .phone{
				display:none;
			}
			.contact-bar .email,
			.contact-bar .skype{
				float:left;
				width: 50%;
			}
				.contact-bar span:first-child{
					border:none !important;
				}
		 
				.contact-bar a:hover span {
					background-color: none !important;
				}
			.contact-bar .email{
				border-right: 2px solid #fff;
			}
			.contact-bar .skype{
				border-left: 2px solid #fff;
			}
			.contact-bar span{
				font-size: 16px;
			}

		



			ul.nav.navbar-nav {
				font-size: 0.675em;
			}
			ul.nav.navbar-nav li {
				padding: 0;
			}

			#phone-mobile,
			.sub-trigger{
				display: none;
			}

			div.navbar-header {
				line-height: 62px;
				text-align: center;
			}
			div.navbar-header button.navbar-toggle {
				float: none;
				display:block;
			}

			.navbar.navbar-default{
				height: 80px;
				padding: 0;
				background: rgb(102,51,0);
			}
				.navbar-header{
					position: absolute;
					left:0;
					top: 0;
				}

					.navbar-toggle{
						border-radius: 0;
						border:none;			
						position: absolute;
						top: 0;
						left: 15px;
						margin: 0;
						height: 80px;
						width: 78px;
						padding: 20px;
					}
					.navbar-toggle.collapsed{
						background: none;
					}
					.navbar-toggle:not(.collapsed){
						background: #fff !important;
					}

					.navbar-default .navbar-toggle .icon-bar{
						width: 100%;
						background-color: #f0b054;
					}
					.navbar-default .navbar-toggle:hover, 
					.navbar-default .navbar-toggle:focus{
						background: none;
					}

					.navbar-toggle .icon-bar + .icon-bar{ margin-top: 7px; }


					#phone-mobile{
						display: block;
					}
						#phone-mobile .trigger{
							background: url('../img/mobile-phone-icon.jpg') no-repeat;
							width: 80px;
							height: 80px;
							border:none;
							position: absolute;
							top: 0;
							right: 0;
						}


				.navbar-default .navbar-collapse{
					margin-top: 14px;
					border:none;
					background: #fff !important;
				}		
					.navbar-default .navbar-nav{
						margin: 0;
					}
					.navbar-default .navbar-nav li a,
					.navbar-default .navbar-collapse ul.nav.navbar-nav ul li a{
						color: #3e2b1d;
					}

					.navbar-default .navbar-nav li{
						display: block;
						float: none;
						text-align: left;
						border-bottom: 1px solid #efc68b;
						margin: 0 21px;
						
					}

					.navbar-default .navbar-nav > li:before,
					.navbar-default .navbar-nav > li:after {
					    content: " ";
					    display: table;
					}

					.navbar-default .navbar-nav > li:after {
					    clear: both;
					}

					.navbar-default .navbar-nav li a{
						text-align: left;
						font-size: 26px;
						padding: 15px 20px;
						
					}
					.navbar-default .navbar-nav > li > a{
						float:left;
						width: 70%;
					}

					.navbar-default .sub-trigger{
						background: #f0b054;
						color: #fff;
						height: 100%;
						width: 40px;
						cursor: pointer;
						padding: 10px 0;
						display: block;
						float: right;
						clear: right;
						margin: 10px 10px 0;
					}
						.navbar-default .sub-trigger .icon{
							font-size: 38px;
							text-align: center;
							display: block;
							-webkit-transition: all .2s ease-in-out;
							-moz-transition: all .2s ease-in-out;
							transition: all .2s ease-in-out;

						}

						.navbar-default .sub-trigger.on .icon{
							-webkit-transform: rotateZ(45deg);
							-moz-transform: rotateZ(45deg);
							-o-transform: rotateZ(45deg);
							-ms-transform: rotateZ(45deg);
							transform: rotateZ(45deg);
							transform-origin: 50% 50%;
						}

						.navbar-default .sub-menu{
							position: relative;
							left: initial;
							width: 100%;
							display:none;
							background:none;
							margin-top: 50px;
						}
							.navbar-default .sub-menu li{
								clear: both;
							}
						.navbar-default .sub-menu.on{
							display:block;
						}

				.nav li:hover,
				.nav li:hover a{
					background: none !important;
				}
				.nav li:hover ul{
					left: 0;
				}	


				.numbers{
					-webkit-transform: scaleY(0);
		      		-ms-transform: scaleY(0);
		            transform: scaleY(0);
					-webkit-transform-origin: top center;
				    -ms-transform-origin: top center;
				    transform-origin: top center;
					-webkit-transition: -webkit-transform .1s ease-in-out;
				    transition: transform .1s ease-in-out;
					position: absolute;
					left:0;
					top: 80px;
					background: #fff;
					width: 100%;
				}
					.numbers ul{
						margin: 0;
						padding: 0;
					}
					.numbers li{
						float: none;
						display: block;
						padding: 0;
						border-bottom: 1px solid #efc68b;
						margin: 0 21px;
						color: #f0b054;
					}
					.numbers .numbers-wrap{
						white-space: normal;
						font-size: 18px;
						font-family: 'Open Sans Regular', sans-serif;
						padding: 15px 20px;
						display: block;
					}
					.numbers .numbers-wrap a{
						color: #3e2b1d;
						font-family: 'Open Sans Light', sans-serif;
					}
				.numbers.on{
					-webkit-transform: scaleY(1);
		      		-ms-transform: scaleY(1);
		          	transform: scaleY(1);
				}

				#logo {
					width: 172px;
					height: 40px;
					background: url('../img/text-logo.png') no-repeat;
					background-size: 100% auto;
					margin: 20px auto 0;
					display: block;
				}
				#logo .logo{
					display: none;
				}

			.main .text h1,
			.main .text h2,
			.content h2,
			.content h3{
				text-align: left !important;
				font-size: 36px;
			}
			.main .text p,
			.content p,
			.main .container li{
				text-align: left !important;
			}

			

			.photos .container span:first-child{
				font-size: 36px !important;
			}

			.photos .cycle-slideshow{
				float: none;
				margin: 0 auto;
				width: 340px;
			}

			.map .container{
				background: rgba(255, 255, 255, .7) !important;
				width: 90%;
				padding-top: 20px;
				padding-bottom: 20px;
			}
			.map .callout{
				background: none !important;
				margin: 0 !important;
				padding: 0 !important;
				width: 100%;
				min-height: 200px;
			}
			.map .callout p{
				padding: 0;
				margin: 0;
				max-width: 100%;
				
			}
			.map .tacks{
				position: relative;
				display: block !important;
			}
				.map .tacks li{
					position: relative !important;
					left: initial !important;
					top: initial !important;
					text-indent: 0 !important;
					text-align: center !important;
					border: 4px solid #fff;
					background: #f0b054 !important;
					width: 80% !important;
					float:none !important;
					margin: 0 auto 15px !important;
					line-height: 56px !important;
				}	
				.map .tacks li a{
					width: 100% !important;
					height: 100% !important;
					text-align: center !important;
				}
				.map ul.tacks li:nth-child(1):hover a + div, .map ul.tacks li:nth-child(1):active a + div,
				.map ul.tacks li:nth-child(2):hover a + div, .map ul.tacks li:nth-child(2):active a + div{
					display: none !important;
				}

			.footer{
				height: auto !important;
			}
			.footer .top .text span{
				font-size: 36px !important;
			}
			.footer .top .text .wpcf7-submit{
				width: 100%;
			}
			.footer .bottom{
				height: auto !important;
			}
			.footer .bottom .col-lg-3{
				display: block;
				text-align: center;
			}
				.footer .bottom .col-lg-3:first-child,
				.footer .bottom .col-lg-3:nth-child(2){
					width: 50% !important;
					float: left !important;
				}
				

				.footer .bottom .col-lg-3:nth-child(3){
					text-align: center;
				}
				.footer .bottom .col-lg-3:nth-child(3) .headline:first-child,
				.footer .bottom .col-lg-3:nth-child(3) .social{
					float: left;
					clear: left;
					width: 50%;
				}
				.footer .bottom .col-lg-3:nth-child(3) .headline,
				.footer .bottom .col-lg-3:nth-child(3) .accepted-insurance{
					float: right;
					clear: right;
					width: 50%;
				}


				.footer .bottom .social{
					display: block !important;
					text-align: center;
				}

				.footer .bottom ul.social li{
					display: inline-block !important;
					float: none !important;
				}
				.footer .bottom .col-lg-3:nth-child(4) {
					text-align: center;
				}
				

			.footer .bottom .col-lg-3:first-child ul,
			.footer .bottom .col-lg-3:nth-child(2) ul{
				display: none;
			}

			.header > h1{
				font-size: 36px !important;
				margin-top: 105px !important;
			}

			.main .pagination li{
				display: inline-block !important;
				margin-bottom: 25px !important;
			}
		

			.navbar-default .navbar-nav li a{
				font-size: 18px;
				white-space:normal;
			}

			div.cycle-slideshow:nth-last-of-type(5){
				display: none;
			}
			.footer .bottom .col-lg-3:first-child img,
			.footer .bottom .col-lg-3:nth-child(2) img{
				width: 80%;
				height: auto;
				max-width: 216px;
			}
			.footer .bottom .col-lg-3:nth-child(4) {
				clear:both;
			}
			.footer .bottom .col-lg-3:nth-child(4) img{
				width: 80%;
				height: auto;
				max-width: 297px;
			}	

			#logo {
				width: 120px;
				margin: 26px auto 0;
			}
			.hero{
				height: 600px;
			}
			.hero .callbacks_container{
				margin-bottom: 0;
			}
			.hero .callbacks_container .page-header{
				width: 160px;
				margin-left: auto;
				margin-right: auto;
			}
				.hero .callbacks_container .page-header img{
					width: 100%;
					height: auto;
				}	
					.hero .callbacks_container .rslides{
						height: 600px;
					}
					.hero .callbacks_container .container .lead{
						font-size: 16px;
						max-height: initial;
					}

			.contact-bar .email,
			.contact-bar .skype{
				height: 112px;
			}
			.contact-bar a{
				height: 112px;
				padding: 34px 0 0;
				display: block;
			}
			.contact-bar .email a > span,
			.contact-bar .skype a > span{
				line-height: 100% !important;
				height: auto !important;
			}
				
				.contact-bar .email a span > span,
				.contact-bar .skype a span > span{
					height: 28px !important;
					background-size: auto 200% !important;
					display: block;
					margin: 10px auto 0;
				}
				.contact-bar .email a span > span{
					width: 31px !important;
					background-position: -37px top !important;
				}
				.contact-bar .skype a span > span{
					width: 29px !important;
					background-position: right top !important;
				}

				.contact-bar div.col-lg-4.skype a:hover span > span{
					background-position: right bottom !important;
				}
				.contact-bar div.col-lg-4.email a:hover span > span{
					background-position: -37px bottom !important;
				}

		
}




/*----------[ Header ]----------*/

#wrap > .header {
	background: url('../img/overlay2-dot.png'),
				url('../img/header-headline.png') no-repeat center center / cover;
	min-height: 308px;
	position: relative;
}

.header .callbacks_container {
	height: 100%;
	position: relative;
	width: 100%;
}

.header .callbacks_container ul.rslides {
	background: #000;
	 height: 100%;
	 position: absolute;
	 min-height: 660px;
	 width: 100%;
}

	.header .callbacks_nav {
		top: 315px;
	}

	.header .callbacks_container ul.rslides li {
		height: 100%;
		position: absolute;
		width: 100%;
	}

	.header .callbacks_container ul.rslides li > .overlay {
		background: #000;
		height: 100%;
		opacity: 0.2;
		position: absolute;
		width: 100%;
	}

		.header .callbacks_container ul.rslides li:nth-child(1) { background: url('../img/overlay2-dot.png'), url('../img/home-slide01.png') no-repeat center center / cover; }
		.header .callbacks_container ul.rslides li:nth-child(2) { background: url('../img/overlay2-dot.png'), url('../img/home-slide02.png') no-repeat center center / cover; }
		.header .callbacks_container ul.rslides li:nth-child(3) { background: url('../img/overlay2-dot.png'), url('../img/home-slide03.png') no-repeat center center / cover; }
		.header .callbacks_container ul.rslides li:nth-child(4) { background: url('../img/overlay2-dot.png'), url('../img/home-slide04.png') no-repeat center center / cover; }

.header h1,
.header span.page-title {
	color: #fff;
	display: inline-block;
	font: 48px 'Raleway Light', sans-serif;
	margin-top: 185px;
	text-align: center;
	text-shadow: 0 0 5px #000;
	text-transform: uppercase;
	width: 100%;
	z-index: 999;
}


/*----------[ Sub-header Content ]----------*/

.main {
	color: #663300;
	font: 16px 'Open Sans Light', sans-serif;
	padding-bottom: 40px;
	position: relative;
	z-index: 1;
}

.main .text {
	font: 16px 'Open Sans Light', sans-serif;
	padding: 50px 0 60px;
	z-index: 99999;
}

.main .col-lg-4 {
	padding: 50px 0 360px 50px;
}

	@media (max-width: 1199px) {
		.main .col-lg-4 {
			display: none;
		}
	}

.main a {
	color: #d37e00;
}

.main h1,
.main h2,
.main h3,
.main h4,
.main h5,
.main h6 {
}

.main h1 {
	font: 48px 'Raleway Light', sans-serif;
	margin-top: 0;
}

.main h2 {
	display: block;
}

	.main h1 a span,
	.main h2 a span {
		margin-left: 10px;
	}

	.main h1 a:hover span,
	.main h2 a:hover span {
		-webkit-transform: rotate(-7deg);
		   -moz-transform: rotate(-7deg);
			-ms-transform: rotate(-7deg);
				transform: rotate(-7deg);
	}

.main .text p,
.main .text table {
	font: 16px 'Open Sans Light', sans-serif;
	margin: 0 0 20px;
	max-width: none;
}


.main .text table tr td {
	padding-bottom: 5px;
}
.main .text table tr td:first-child :not(tg-031e){
	padding-right: 25px;
}

.main .text img,
.main .text .imgcap {
	display: block;
	position: relative;
}

	.main .text img,
	.main .text .imgcap img {
		-webkit-box-shadow: 0 8px 8px -3px rgba(0,0,0,0.65);
	       -moz-box-shadow: 0 8px 8px -3px rgba(0,0,0,0.65);
	    		box-shadow: 0 8px 8px -3px rgba(0,0,0,0.65);
	    position: relative;
	}

.main .text .imgcap {
	float: left;
	margin-bottom: 25px;
	width: 100%;
}

	.main .text .imgcap + p {
		clear: both;
	}

	.main .text .imgcap img {
		width: 100%;
	}

	.main .text .imgcap .caption {
		background: rgba(0,0,0,0.5);
		bottom: 0;
		color: #fff;
		padding: 10px;
		position: absolute;
		width: 100%;
	}

		.main .text .imgcap .caption p {
			font: 20px 'Raleway Medium', sans-serif;
			margin: 0;
			text-align: right;
		}

.main .text img.noshadow {
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
			box-shadow: none;
}

.main h3.headline {
	font: 18px 'Raleway Regular', sans-serif;
	color: #dd9c40;
	display: block;
	margin-bottom: 10px;
}

.main ul {
	list-style: square;
}

	.main .sidebar ul {
		color: #dd9c40;
		list-style: none;
		margin: 0;
		padding: 0;
	}

		.main .sidebar ul li {
			border-bottom: 1px solid #dd9c40;
			font: 18px 'Open Sans Regular', sans-serif;
			padding: 0 0 10px;
		}

		.main .sidebar ul li a:before {
			color: #dd9c40;
			content: "\25B6";
			font-size: 28px;
			padding-right: 5px;
		}

			.main .sidebar ul li a {
				color: #663300;
				display: inline-block;
				margin: 0 60px 0 28px;
				text-decoration: none;
				text-indent: -30px;
				width: 100%;

				@media (max-width:1333px){
					margin: 0;
				}
			}

				.main .sidebar ul li a:hover,
				.main .sidebar ul li a:active {
					margin-left: 35px;
				}

				.main .sidebar .widget_custom_cf7{
					background: url(../img/dara-logo-icon-sm.jpg) no-repeat 50% 0;
					padding: 42px 0 0;

					form{
						width: 100%;
					}
					h3{
						text-align: center;
						text-transform: uppercase;
						font-size: 28px;
					}
					p{
						padding:0 !important;
					}
					p.preamble{
						text-align: center;
						padding:16px 28px !important;
						border-top: 1px solid #D37E00;
						border-bottom: 1px solid #D37E00;
					}
					a{
						font-size: 24px;
						font-family: 'Open Sans Semibold', sans-serif;
					}
					.req{
						color: red;
					}
					.wpcf7-text,
					.wpcft-tel,
					.wpcf7-captchar{
						height: 40px;
						margin-bottom: 20px;
					}
					.wpcf7-textarea{
						height: 105px;
						margin-bottom: 20px;
					}
					input[type=submit]{
						background: #DD9C40;
						color: white;
						text-transform: uppercase;
					}
					input[type=submit]:hover,
					input[type=submit]:active,
					input[type=submit]:focus{
						background: #edc58a;
					}

					.wpcf7-not-valid-tip{ display: none !important; }
					.wpcf7-response-output{					
						margin: 0;
					}
					.wpcf7-not-valid{
						border: 1px solid red;
					}
				}
					


.main p.breadcrumbs {
	margin-bottom: 30px;
	text-transform: capitalize;
}

	.main .breadcrumbs span,
	.main .breadcrumbs span a {
		font-size: 14px;
	}

	.main .breadcrumbs span.glyphicon {
		padding-right: 7px;
	}

@media (max-width: 454px) {
	.main .text h1,
	.main .text h2,
	.main .text h3,
	.main .text h4,
	.main .text h5,
	.main .text h6 {
		text-align: center;
	}
}

/*-- Entry-Related --*/

.main .text.entry .content {
	margin-bottom: 20px;
}

.main .text.entry {
	display: block;
}

.main .text.entry .content {
	display: block;
	overflow: hidden;
}

.main .text.entry .date {
	background: #edc58a;
	color: #fff;
	float: left;
	height: 100%;
	margin: 0 20px 0 0;
	padding: 3px;
	text-align: center;
	text-transform: uppercase;
	width: 80px;
}

	.main .text.entry .date .month {
		color: #663300;
		background: #dd9c40;
		font-size: 110%;
		padding: 3px 0;
	}

	.main .text.entry  .date .day { padding: 3px 0 0;}
	.main .text.entry  .date .year { padding: 0 0 3px; }

.main .text.entry .content span.comments-link a {
	margin-top: -400px;
}

.main .text.entry .content a.read-more {
	padding-left: 5px;
}

	.main .text.entry .content a.read-more:hover {
		margin-left: 3px;
	}

.main .text.entry div[class^=nav-] a {
	display: block;
	float: right;
}

.main .text.entry div.pagination {
	margin-left: 100px;
}

.main .pagination ul {
	padding: 0;
}

.main .pagination li a,
.main .pagination li a:hover,
.main .pagination li.active a,
.main .pagination li.disabled {
	color: #fff;
	text-decoration:none;
}

.main .pagination li {
	display: inline;
}

.main .pagination li a,
.main .pagination li a:hover,
.main .pagination li.active a,
.main .pagination li.disabled {
	background-color: #edc58a;
	padding: 10px 15px;
}

.main .pagination li a:hover,
.main .pagination li.active a {
	background-color: #dd9c40;
}

/*-- Forms --*/

form {
	width: 500px;
}

input,
textarea,
select {
	background: rgba(102,51,0,0.1);
	border: 1px solid rgba(102,51,0,0.5);
	color: #2e2400;
	padding: 5px;
	outline: 0;
	width: 100%;
}

	select {

	}

.comment-respond h3 {
	margin-top: 30px;
}

.comment-form label {
	display: none;
}

textarea {
	background: rgba(102,51,0,0.1);
	border: 1px solid rgba(102,51,0,0.5);
	color: #2e2400;
	outline: none;
	padding: 5px 10px;
}

#submit,
input[type=submit] {
	background-color: #edc58a;
	border: 0;
	padding: 10px 15px;
}

	#submit:hover,
	input[type=submit]:hover {
		background-color: #dd9c40;
		color: #fff;
	}

form img.wpcf7-captchac {
	-webkit-box-shadow: none !important;
	   -moz-box-shadow: none !important;
	        box-shadow: none !important;
	display: inline !important;

}
.wpcf7-not-valid-tip,
div.wpcf7-validation-errors{
	background:#623200 !important;
	padding: 2px 4px;
}
div.wpcf7-validation-errors{
	border: none !important;
	color: #fff !important;
}


@media (max-width: 550px) {
	form {
		width: 100%;
	}
}

@media (max-width: 454px) {
	form,
	form input,
	form textarea,
	h2,
	h3 {
		text-align: center;
	}
}

/*-- Entry Header --*/

.main .text .entry-header {
	font: 14px 'Open Sans Light', sans-serif;
	margin-bottom: 15px;
}

	.main .text .entry-header span.glyphicon {
		color: #e5cca9;
		margin-left: 15px;
		padding-right: 2px;
	}

	.main .text .entry-header span.glyphicon-folder-open {
		margin: 0;
	}

		.main .text .entry-header span.glyphicon-comment {
		}

	@media (max-width: 454px) {
		.main .text .entry-header {
			text-align: center;
		}
	}

/*-- Entry Links --*/

.entry-links {
	display: block;
	height: 30px;
}

/*-- Mobile --*/

@media (max-width: 1365px) {
	.main p {
		padding-right: 100px;
	}
}

@media (max-width: 454px) {
	h2,
	.main p,
	.panel-heading {
		text-align: center;
	}
	.main p {
		padding-right: 0px;
	}
}

@media (max-width: 599px) {
	.main h1 {
		padding-top: 20px;
	}
}


/*----------[ Sub-header Content: Social Media ]----------*/

.social {
	font: 18px 'Raleway Light', sans-serif;
	/*margin-bottom: 100px;
	margin-top: 140px;*/
	bottom: 20px;
	position: fixed;
	right: 0;
	z-index: 999999;
}

	.social > div {
		background: #edc58a;
		clear: both;
		display: inline-block;
		float: right;
		overflow: hidden !important;
		transition: 0.6s ease-out;
		white-space: nowrap;
		width: 85px;
		z-index: 99999;
	}

	.social > div:first-of-type { font-size: 16px; }
	.social > div:not(:first-of-type) { margin-top: -4px; }

	.social > div:nth-child(1):hover { width: 480px; }
	.social > div:nth-child(2):hover { width: 440px; }
	.social > div:nth-child(3):hover { width: 410px; }
	.social > div:nth-child(4):hover { width: 370px; }

		.social > div img {
			float: left;
			padding: 4px 10px 4px 4px;
			position: relative;
			z-index: 99999;
		}

		.social .dropdown-menu {
			position: relative;
		}

		.social > div img + span { display: block; height: 80px; line-height: 24px; padding: 10px 0; }

		.social > div img + span > ul {
			height: 80px;
			margin: 0;
			overflow: hidden;
			padding: 0;
			width: 225px;
		}

		.social > div img + span > ul li {
			display: inline;
			float: left;
			width: 50%;
		}

		.social > div img + span > ul li a {
			color: #663300;
			font: 18px 'Raleway Light', sans-serif
		}

		.social > div img + span > ul li a:hover {
			color: #fff;
		}

			.social > div > span,
			.social > div > a,
			.social > div > a > span {
				color: #663300;
				text-decoration: none;
			}

				.social > div > a > span:hover,
				.social > div > a:active > span {
					border: 0;
					color: #fff;
					text-decoration: none;
				}

			.social > div > span + img {
				padding-right: 2px;
			}

				.social > div span div.phone-dropdown a {
					color: #663300;
					font: 12px 'Open Sans', sans-serif;
					text-decoration: underline;
				}

					.social > div span div.phone-dropdown ul {
						background: transparent;
						border: 0;
						border-radius: 0;
						-webkit-box-shadow: none !important;
						   -moz-box-shadow: none !important;
								box-shadow: none !important;
					}

						.social > div span div.phone-dropdown ul li span {
							padding-right: 2px;
						}

						.social > div span div.phone-dropdown a:hover {
							background: none;
							color: #fff;
						}

					.social > div span > a:hover { color: #fff; }

				.social > div span table {
					display: block;
					line-height: 25px;
					overflow: hidden !important;
					padding: 15px 0;
					width: auto;
				}

					.social > div span table tr td:first-child { padding-right: 10px; }
					.social > div span table tr td:last-child { float: right; font: 18px 'Open Sans Bold', sans-serif; }
					.social > div span table tr td:last-child a { color: #663300; text-decoration: underline; }
					.social > div span table tr > td:last-child a:hover { color: #fff; }
					.social > div span table + a:last-child { color: #663300; font: 12px 'Open Sans Regular', sans-serif; }
						.social > div span table + a:last-child:hover,
						.social > div span table + a:last-child:active { color: #fff; }

				.social > div:hover { min-height: 92px; }

					

			@media (max-width: 768px){
				.social{
					display: none;
				}
			}


			@media (max-width: 454px) {
				.main .text {
					margin-top: 0;
				}
				
			}

			


/*----------[ Contact Buttons ]----------*/

.contact-table td:nth-child(even) {
	padding-left: 10px;
}

@media (max-width: 991px) {
	.contact-table {
		margin: 20px auto !important;
		text-align: left;
	}
}

.contact-bar {
	background: #623200;
	color: #fff;
	font: 28px 'Raleway Bold', sans-serif;
	max-height: 112px;
	min-height: 112px;
	text-transform: uppercase;
}

	.contact-bar div {
		height: 100%;
		padding: 0;
		position: relative;
	}

	@media (min-width: 1200px) {
		.contact-bar div:not(:last-of-type) {
			border-right: 10px solid #fff;
		}
	}

	.contact-bar table a {
		color: #663300 !important;
	}

	.contact-bar span {
		line-height: 112px;
		display: block;
		height: 112px;
		margin: 0 auto;
		position: relative;
		text-align: center;
	}

		.contact-bar span.clickable {
			border: none !important;
			display: inline;
			line-height: 18px;
		}

		.contact-bar span:first-child {
			border-top: 1px solid #623200;
		}

		.contact-bar a {
			color: #fff;
		}

		.contact-bar a:hover,
		.contact-bar a:hover span {
			background: #f9f5eb;
			color: #663300;
			text-decoration: none;
		}

		.contact-bar span > span {
			border: 0 !important;
			display: inline-block;
			margin-left: 10px;
			text-indent: -9999px;
		}

		.contact-bar .col-lg-4 {
			overflow: hidden;
		}

			.contact-bar div.col-lg-4.phone span > span { background: url('../img/home-contact-bar.png') no-repeat 0 35px; height: 112px; width: 59px; }
			.contact-bar div.col-lg-4.email span > span { background: url('../img/home-contact-bar.png') no-repeat -59px 33px; height: 112px; width: 51px; }
			.contact-bar div.col-lg-4.skype span > span { background: url('../img/home-contact-bar.png') no-repeat -110px 31px; height: 112px; width: 49px; }

				.contact-bar div.col-lg-4.phone a:hover span > span { background-position: 0 -11px; }
				.contact-bar div.col-lg-4.email a:hover span > span { background-position: -59px -13px; }
				.contact-bar div.col-lg-4.skype a:hover span > span { background-position: -110px -14px; }

	.contact-bar .col-lg-4.mobile {
		display: none;
	}

	@media (max-width: 782px) {
		.contact-bar .col-lg-4.desktop {
			display: none;
		}
		.contact-bar .col-lg-4.mobile {
			display: block;
		}
	}

	.contact-bar span + span {
		background: #f9f5eb;
		display: none;
		font: 20px 'Raleway Light', sans-serif;
		height: 210px;
		line-height: 30px;
		margin-right: -70px;
		padding: 15px 30px 0 60px;
		position: absolute;
		z-index: 999999;
	}

	.contact-bar span:hover + span,
	.contact-bar span + span:hover {
		display: block;
	}

		.contact-bar span + span table {
			text-align: left;
		}

			.contact-bar span + span table td {
				padding-right: 10px;
			}

				.contact-bar span + span table tr td:last-child {
					font-family: 'Open Sans Bold', sans-serif;
				}

		.contact-bar span + span table tr:last-child td {
			color: #663300 !important;
			font: 14px 'Raleway Light', sans-serif;
			padding-top: 10px;
		}

			.contact-bar span + span table tr:last-child td:hover {
				text-decoration: underline;
			}

			.contact-bar span + span table tr:last-child td span.glyphicon {
				border: 0;
				display: inline-block;
				height: auto;
				line-height: 20px;
			}

	@media (max-width: 1199px) {
		.contact-bar {
			min-height: 112px !important;
			max-height: 500px;
		}
		.contact-bar span + span {
			margin-right: 0;
		}
		.contact-bar span + span table {
			margin: 0 auto;
		}
	}

	@media (max-width: 437px) {
		.contact-bar span + span {
			display: none !important;
		}
	}


/*----------[ Photo Gallery ]----------*/

.photos {
	background: url('../img/overlay2-dot-dark.png'),
				url('../img/home-photos-banner.png') no-repeat center center / cover;
	height: 641px !important;
	z-index: 1;
}

	.photos .banner {
		/*background: url('../img/overlay2-dot-dark.png'),
					url('../img/home-photos-banner.png') no-repeat center center / cover;*/
		height: 111px;
		z-index: 1;
	}

		.photos .banner span {
			color: #fff;
			z-index: 1;
		}

		.photos .banner span:nth-child(1) {
			float: left;
			font: 48px 'Raleway Light', sans-serif;
			line-height: 111px;
			margin-left: 15px;
		}

		.photos .banner span:nth-child(2) {
			float: right;
			font: 18px 'Open Sans Light', sans-serif;
			line-height: 111px;
			margin-right: 20px;
		}

		@media (max-width: 399px) {
			.photos .banner .container span {
				clear: both;
				display: block;
				float: none;
				line-height: 30px;
				margin: 0 auto;
				text-align: center;
				white-space: normal;
			}
			.photos .banner span:nth-child(1) {
				margin: 30px auto 0;
			}
		}

			.photos .banner span a:hover {
				color: #fff;
			}

	.photos > .container {
		text-align: center;
	}


/*----------[ Map ]----------*/

.map {
	background: url('../img/overlay2-crosshatch.png'),
				url('../img/home-map-bg.png') no-repeat center center / cover;
	height: 547px;
	padding: 60px 0;
}

	.map .container {
		background: url('../img/home-map.png') no-repeat;
		height: 100%;
		position: relative;
	}

	.map .callout {
		background: rgba(255,255,255,0.6);
		display: block;
		margin: 50px 0 0 20px;
		min-height: 280px;
		padding: 20px 30px;
		width: 400px;
	}

	@media (max-width: 991px) {
		.map .callout {
			margin: 50px auto;
		}
	}

		.map .callout span {
			border-bottom: 1px solid #603913;
			color: #603913;
			display: inline-block;
			font: 48px 'Raleway Light', sans-serif;
			padding: 0 10px 5px;
			width: 100%;
		}

		.map .callout p {
			color: #603913;
			font: 22px 'Open Sans Light', sans-serif;
			padding: 20px 10px 0;
		}

	.map ul {
		list-style: none;
		margin: 0;
		position: absolute;
		padding: 0;
		top: 0;
	}

		.map ul.tacks li {
			float: left;
			position: absolute;
			text-indent: -9999px;
		}

			.map ul.tacks li a {
				display: block;
				height: 56px;
				width: 41px;
			}

			.map ul.tacks li a + div {
				background: transparent;
				display: none;
				height: 165px;
				position: absolute;
				width: 200px;
			}

				.map ul.tacks li:nth-child(1) a + div { left: -170px; top: -140px; }
				.map ul.tacks li:nth-child(2) a + div { left: -200px; top: 0px; }
					.map ul.tacks li:nth-child(2) a + div > div { top: 20px; }

			.map ul.tacks li a + div > div {
				background: rgba(255,255,255,0.9);
				color: #663300;
				display: block;
				font: 18px 'Raleway Light', sans-serif;
				height: 125px;
				position: relative;
				text-align: center;
				text-indent: 0;
				width: 185px;
			}

				.map ul.tacks li a + div > div:after {
					border-color: rgba(255,255,255,0.9) transparent;
					border-style: solid;
					content: "";
					display: block;
					position: absolute;
					width: 0;
					text-shadow: 0 5px 0 0 black;
				}

					.map ul.tacks li:nth-child(1) a + div > div:after { border-width: 20px 0 0 20px; bottom: -20px; left: 165px; }
					.map ul.tacks li:nth-child(2) a + div > div:after { border-width: 20px 20px 0 0; top: 0; left: 100%; }


				.map ul.tacks li a + div > div span:first-child {
					clear: both;
					display: block;
					font-size: 28px;
					padding-top: 10px;
					position: relative;
				}

				.map ul.tacks li a + div > div a.button {
					background: rgba(102,51,0,0.075);
					border: 2px solid #663300;
					border-radius: 0;
					color: #663300;
					font: 11px 'Raleway Semibold', sans-serif;
					height: auto;
					margin: 10px auto 0;
					padding: 5px;
					text-transform: uppercase;
					width: 100px;
				}

					.map ul.tacks li a + div > div a.button:hover,
					.map ul.tacks li a + div > div a.button:active {
						background: rgba(102,51,0,0.5);
						color: #fff;
					}

		.map ul.tacks li:nth-child(1) { background: url('../img/home-map-tacks.png') no-repeat 0 0; height: 56px; left: 845px; top: 215px; width: 41px; }
		.map ul.tacks li:nth-child(2) { background: url('../img/home-map-tacks.png') no-repeat -41px 0; height: 56px; left: 875px; top: 272px; width: 41px; }

		.map ul.tacks li:nth-child(1):hover a + div,
		.map ul.tacks li:nth-child(1):active a + div { display: block; }

		.map ul.tacks li:nth-child(2):hover a + div,
		.map ul.tacks li:nth-child(2):active a + div { display: block; }

	@media (max-width: 767px) {

		.map {
			height: auto !important;
		}

		.map > .container {
			background-size: cover !important;
			height: auto;
		}

		.map > .container > .callout {
			height: auto;
			max-width: 100%;
		}

	}


/*----------[ Footer ]----------*/

.footer {
	background: url('../img/home-footer.png') no-repeat center center / cover;
}

	.footer a {
		color: #fff;
	}

	.footer .top {
		background: rgba(102,51,0,0.65);
		border-top: 1px solid rgba(102,51,0,0.9);
		color: #fff;
		min-height: 240px;
		padding-bottom: 65px;
		padding-top: 65px;
	}

		.footer .top .text {
			text-align: center;
			width: 100%;
		}

			.footer .top .text span {
				clear: both;
				font: 50px 'Raleway Medium', sans-serif;
				text-align: center;
			}

			.footer .top .text p,
			.footer .top .text input,
			.footer .top .text textarea {
				clear: both;
				font: 22px 'Open Sans Light', sans-serif;
				margin: 0;
				max-width: none;
				text-align: center;
			}

				.footer .top .text p.bold {
					font-family: 'Open Sans', sans-serif;
				}

		.footer .top .button-contact {
			text-align: center;
		}

		.footer .top .button-contact a {
			background: rgba(255,255,255,0.3);
			border: 5px solid rgba(255,255,255,0.6);
			font: 20px 'Raleway Semibold', sans-serif;
			margin-top: 20px;
			text-transform: uppercase;
		}

			.footer .top .button-contact a:hover,
			.footer .top .button-contact a:active {
				background: rgba(255,255,255,0.65);
				border: 5px solid #fff;
				color: rgba(102,51,0,1.0);
			}

		.footer .top .text form {
			font-size: 10px !important;
			width: 100%;
		}

			.footer .top .text form input,
			.footer .top .text form textarea {
				background: rgba(255,255,255,0.3);
				border: 1px solid #fff;
				color: #fff;
				border-radius: 8px;
				font-size: 20px;
			}

			.footer .top .text form textarea {
				height: 100px;
				margin-top: 20px;
			}

			.footer .top .text input[type=submit]{
				background: #fff;
				color: rgba(102,51,0,1.0);
				float: right;
				font-family: 'Raleway Bold', sans-serif;
				margin-top: 5px;
				padding: 15px 50px;
				text-transform: uppercase;
				width: 50%;
				-webkit-transition: .3s ease-in-out;
				   -moz-transition: .3s ease-in-out;
					-ms-transition: .3s ease-in-out;
					 -o-transition: .3s ease-in-out;
						transition: .3s ease-in-out;
			}

				.footer .top .text input[type=submit]:hover {
					background: rgba(255,255,255,0.6);
				}

			.footer .top .text form input::-webkit-input-placeholder { color: rgba(255,255,255,0.7); }
			.footer .top .text form input:-moz-placeholder { color: rgba(255,255,255,0.7); }
			.footer .top .text form input::-moz-placeholder { color: rgba(255,255,255,0.7); }
			.footer .top .text form input:-ms-input-placeholder { color: rgba(255,255,255,0.7); }

			.footer .top .text form textarea::-webkit-input-placeholder { color: rgba(255,255,255,0.7); }
			.footer .top .text form textarea:-moz-placeholder { color: rgba(255,255,255,0.7); }
			.footer .top .text form textarea::-moz-placeholder { color: rgba(255,255,255,0.7); }
			.footer .top .text form textarea:-ms-input-placeholder { color: rgba(255,255,255,0.7); }

				.footer .top .text form div.two div {
					float: left;
					width: 48%;
				}

					.footer .top .text form div.two div:first-child {
						margin-right: 2%;
					}

					.footer .top .text form div.two div:last-child {
						margin-left: 2%;
					}

			.footer .top .text span.alert,
			span.wpcf7-not-valid-tip {
				color: #fff !important;
				font-size: 1.250rem !important;
			}

			.footer .top .text div.wpcf7-validation-errors,
			.footer .top .text div.wpcf7-response-output,
			.footer .top .text div.wpcf7-mail-sent-ok {
				display: inline-block !important;
				font-size: 1.500rem !important;
			}

		@media (max-width: 1199px) {
			.footer .top .text,
			.footer .top .text p {
				margin-left: 0;
				text-align: center;
				width: 100%;
			}
			.footer .top .button-contact {
				clear: both;
				float: none;
				text-align: center;
			}
		}

		@media (max-width: 526px) {
			.footer .top {
				height: 360px;
			}
		}

	.footer .bottom {
		background: rgba(102,51,0,0.9);
		color: #fff;
		font: 12px 'Raleway Regular', sans-serif;
		//height: 385px;
		padding: 35px 0;
		position: relative;
		text-transform: uppercase;
	}

		.footer .bottom .container {
			
		}

		.footer .bottom span.headline {
			font: 14px 'Raleway Bold', sans-serif;
			text-transform: uppercase;
			display: block;
			clear: both;
		}

		.footer .bottom a:hover,
		.footer .bottom a:active {
			color: #fff;
		}

		.footer .bottom img {
			clear: both;
			padding: 15px 0;
			max-width: 100%;
		}

		.footer .bottom ul {
			list-style: none;
			margin: 0;
			padding: 28px 0 0;
		}

			.footer .bottom ul li {
				line-height: 25px;
				padding: 0;
			}

			.footer .bottom ul.social {
				margin-top: 20px;
				position: relative;
				padding: 10px 0 0;
			}

				.footer .bottom ul.social li {
					float: left;
					line-height: 15px;
					text-indent: -9999px;
					margin-bottom: 20px;
				}

					.footer .bottom ul.social li a {
						display: block;
						height: 30px;
						width: 31px;
					}

				.footer .bottom ul.social li:not(:last-child) {
					margin-right: 5px;
				}

				.footer .bottom ul.social li:nth-child(1) { background: url('../img/footer-social.png') no-repeat 0 0; height: 30px; width: 31px; }
				.footer .bottom ul.social li:nth-child(2) { background: url('../img/footer-social.png') no-repeat -31px 0; height: 30px; width: 31px; }
				.footer .bottom ul.social li:nth-child(3) { background: url('../img/footer-social.png') no-repeat -92px 0; height: 30px; width: 30px; }
				.footer .bottom ul.social li:nth-child(4) { background: url('../img/footer-social.png') no-repeat -62px 0; height: 30px; width: 29px; }
				.footer .bottom ul.social li:nth-child(5) { background: url('../img/footer-social.png') no-repeat -123px 0; height: 30px; width: 29px; }
				.footer .bottom ul.social li:nth-child(6) { background: url('../img/footer-social.png') no-repeat -153px 0; height: 30px; width: 31px; }


				.footer .bottom ul.social li:nth-child(1):hover,
				.footer .bottom ul.social li:nth-child(1):active { background: url('../img/footer-social.png') no-repeat 0 -30px; height: 30px; width: 31px; }
				.footer .bottom ul.social li:nth-child(2):hover,
				.footer .bottom ul.social li:nth-child(2):active { background: url('../img/footer-social.png') no-repeat -31px -30px; height: 30px; width: 31px; }
				.footer .bottom ul.social li:nth-child(3):hover,
				.footer .bottom ul.social li:nth-child(3):active { background: url('../img/footer-social.png') no-repeat -92px -30px; height: 30px; width: 30px; }
				.footer .bottom ul.social li:nth-child(4):hover,
				.footer .bottom ul.social li:nth-child(4):active { background: url('../img/footer-social.png') no-repeat -62px -30px; height: 30px; width: 29px; }
				.footer .bottom ul.social li:nth-child(5):hover,
				.footer .bottom ul.social li:nth-child(5):active { background: url('../img/footer-social.png') no-repeat -123px -30px; height: 30px; width: 29px; }
				.footer .bottom ul.social li:nth-child(6):hover,
				.footer .bottom ul.social li:nth-child(6):active { background: url('../img/footer-social.png') no-repeat -153px -30px; height: 30px; width: 31px; }


			.footer .bottom .accepted-insurance img{
				margin-right: 10px;
			}
			.footer .bottom .accepted-insurance img:last-child{
				margin-right: 0;
			}

		.footer .bottom .copyline {
			clear: both;
			padding-top: 50px;
			text-align: center;
		}

			.footer .bottom .copyline span {
				font: 10px 'Open Sans Light', sans-serif;
				text-align: center;
				text-transform: none;
				width: 100%;
			}







/*----------[ Content Elements ]----------*/

blockquote {
	border: 0;
	display: block;
	font: 16px 'Open Sans Light', sans-serif;
	line-height: 18px;
	padding: 20px 40px;
	position: relative;
}

	blockquote:before,
	blockquote:after {
		color: #edc58a;
		display: block;
		font: 120px 'Alegreya', sans-serif;
		left: 1;
		position: absolute;
		z-index: -1;
	}

	blockquote:before {
		content: open-quote;
		left: -5px;
		top: -30px;
	}

	blockquote:after {
		content: close-quote;
		right: 0;
		bottom: -70px;
	}

	blockquote br {
		content: " ";
		display: block;
		margin: 10px 0;
	}

@media (max-width: 1365px) {
	blockquote:after {
		right: 90px;
	}
}
@media (max-width: 991px) {
	blockquote:after {
		right: 100px;
	}
}
@media (max-width: 459px) {
	blockquote:after {
		content: "";
	}
}

iframe {
	border: 2px solid rgba(0,0,0,0.7);
	margin-bottom: 20px;
    position: relative;
	width: 100% !important;
	-webkit-box-shadow: 0 8px 8px -3px rgba(0,0,0,0.65);
       -moz-box-shadow: 0 8px 8px -3px rgba(0,0,0,0.65);
    		box-shadow: 0 8px 8px -3px rgba(0,0,0,0.65);
}
iframe[name="google_conversion_frame"],
#launcher{
	border:none;
	box-shadow:none;
	margin-bottom: 0;
}

	div.two {
		clear: both;
		width: 100%;
	}

	div.two + p,
	 div.two + h1,
	 div.two + h2,
	 div.two + h3,
	 div.two + h4,
	 div.two + h5,
	 div.two + h6 {
		clear: left;
	}

		div.two iframe {
		float: left;
			height: 230px;
			margin-right: 5%;
			width: 45% !important;
		}

			div.two iframe:last-child {
				clear: right;
				margin-right: 0;
			}

.panel,
.panel .panel-default {
	background: #f9f5eb;
	/*border: 3px solid #dd9c40;*/
	border: 1px solid #cec1b5;
	border-radius: 0;
	padding: 0 20px 15px;
}

	.panel .panel-heading {
		background: transparent;
		border: 0;
		color: #dd9c40;
		font: 18px 'Open Sans Semibold', sans-serif;
		padding: 15px 0;
		text-transform: uppercase;
	}

	.panel .panel-body {
		font: 18px 'Open Sans Regular', sans-serif;
		padding: 0;
	}

	.panel .panel-body p:last-child {
		margin: 0 0 10px !important;
	}

	.panel.left,
	.panel.right {
		width: 40%;
	}

	.panel.left {
		float: left;
		margin: 0 20px 10px 0;
	}

	.panel.right {
		float: right;
		margin: 0 0 10px 20px;
	}

span.pullquote {
	display: inline-block;
	float: right;
	font: 24px 'Open Sans Regular', sans-serif;
	padding: 0 0 20px 20px;
	width: 45%;
}

div.ul-double ul {
    margin-left: 30px;
	overflow: hidden;
}

    div.ul-double li {
        float: left;
        padding-left: 12px;
    	width: 50%;
    }

span.cta {
	color: #663300;
	font: 20px 'Open Sans Regular', sans-serif;
}

	span.cta.giant {
		font-size: 26px;
	}

	span.cta.large {
		font-size: 22px;
	}

	span.cta.small {
		font-size: 18px;
	}

	span.cta.mini {
		font-size: 16px;
	}




/*----------[ Search Form ]----------*/

.searchform {
	margin-top: 30px;
}





/*----------[ WP-Specific Styles ]----------*/

.alignleft {
	float: left;
	margin: 0 15px 10px 0 !important;
}

.alignright {
	float: right;
	margin: 0 0 10px 15px !important;
}





/*----------[ Other Corrections/Overrides ]----------*/
.widget {
	list-style: none;
}

	.widget .post-date {
		font-size: 16px;
	}

.wpcf7-response-output {
	margin: 25px 0 0;
	width: 100%;
}
.main .text img {
    margin: 0 10px 5px 0;
    padding: 0;
}

.staff_name_container{
	font: 24px 'Raleway Light', sans-serif;
	margin: 0 0 10px 0;
	padding: 10px 0 0 0;
}

.staff_title_style {
	font: 20px 'Raleway Light', sans-serif;
}

.staff_member_row {
	margin: 20px 0 0 0;
	overflow: auto;
	height: auto;
}

.staff_category {
	margin: 32px 0 0 0 ;
	font: 20px 'Raleway Light', sans-serif;
	font-weight: bold;
}

/* --- Style for NextGen Gallery Sidebar Widget --- */

.ngg-widget img {
	float: left;
}

.nextgen_gal_link a {
	text-decoration: none;
	padding: 3px 8px 3px 8px;
	background: #f1f1f1;
	font-weight: bold;
	color: #B4895F;
	border: 1px solid #E0E0E0;
}

.nextgen_gal_link a:hover {
	text-decoration: none;
	padding: 3px 8px 3px 8px;
	background: #B4895F;
	font-weight: bold;
	color: #fff;
	border: 1px solid #E0E0E0;
}

.nextgen_gal_link{
	text-align: center;
	margin: 7px 0 0 0;
}

/* --- Video Gallery Page - YOUTUBE STYLE --- */

.video_title_youtube, h3 {
	margin: 28px 0 14px 0;
}

.video_gallery_youtube {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}

.video_gallery_youtube iframe,
.video_gallery_youtube object,
.video_gallery_youtube embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* --- Style for Custom Buttons --- */

.custom_link_buttons {
	float: left;
	background: #663300;
	border: 3px solid #663300;
	border-radius: 0;
	color: #fff !important;
	margin: 5px 12px 5px 0;
	padding: 8px 12px;
}

.custom_link_buttons:hover {
	background: rgba(255,255,255,0.8);
	border: 3px solid rgba(75,44,15,0.3);
	color: #663300 !important;
	text-decoration: none;
}

.custom_link_buttons:active {
	position:relative;
	top:1px;
}

/* This button was generated using CSSButtonGenerator.com */

/*  ---------- Style for tables ---------- */

.tg  {
	border-collapse:collapse;
	border-spacing:0;
	border-color:#aaa;
}

.tg td {
	text-align: right;
}

.tg td {
	font-family:Arial, sans-serif;
	font-size:14px;
	padding:10px 5px;border-style:solid;
	border-width:1px;
	verflow:hidden;word-break:normal;
	border-color:#aaa;
	color:#333;
	background-color:#fff;
	text-align: center;
}
.tg th {
	font-family:Arial, sans-serif;
	font-size:14px;
	font-weight:normal;
	padding:10px 8px;
	border-style:solid;
	border-width:1px;
	overflow:hidden;
	word-break:normal;
	border-color:#aaa;
	color:#fff;
	background-color: #663300;
	width: auto;
	text-align: center;
}

.tg .tg-0ord {
	text-align:right;
}

.tg .tg-s6z2 {
	text-align:center;
}

.tg .tg-z2zr {
	background-color:#f0b054;
}

.tg .tg-gyqc {
	background-color:#f0b054;
	text-align:right;
}

.hide{
	display: none;
}







/*----------[ New Mobile ]----------*/

@media (max-width: 767px) {

	.main .text,
	.main .text p {
		text-align: center;
	}

	.main .text p {
		padding: 0;
	}

	.footer {
		height: auto;
	}

	.footer .top,
	#home .footer .top {
		height: auto;
		padding: 65px 0 40px;
	}

	.footer .top .text form input,
	.footer .top .text form textarea {
		background: rgba(255,255,255,0.4);
		color: #fff;
		font-size: 16px;
		padding: 5px 10px;
		text-align: left;
	}

	.footer .top .text input[type=submit] {
		padding: 15px 5px;
		text-align: center;
		width: 100%;
	}

}











@media (max-width: 454px) {

	.social {
		margin-top: 0;
		margin-bottom: -5px;
		text-align: center;
	}

	.social > div {
		padding-bottom: 15px;
	}

	.social img {
		display: none;
	}

	.social tbody,
	.social tr {
		display: block;
		width: 100%;
	}

	.social tr:not(:last-child) {
		padding-bottom: 10px;
	}

	.social td {
		display: block !important;
		float: none !important;
		padding: 0 !important;
	}

}









.cycle-slideshow {
	max-width: 100%;
	overflow: hidden !important;
}

.cycle-slideshow > img {
	max-width: 100% !important;
}


#world-map {
	margin: 10px 0 30px;
}
	#world-map .jvectormap-zoomin,
	#world-map .jvectormap-zoomout {
		display: none;
	}



iframe[name*="google_conversion_frame"] {
	display: none !important;
}







.cta-banner{
	color: #fff;
	text-align: center;
	padding: 45px 0 34px;
	margin-top: -300px;
	background: url('../img/DARA-CTA-Banner.jpg') center center no-repeat;
	background-size: 100% auto;
	font-size: 20px;
	position: relative;
	z-index: 1;

	@media(	max-width: 1412px){
		background-size: auto 100%;
	}
	@media(	max-width: 1199px){
		margin-top: 0;
	}
	.inner{
		background: rgba(102,51,0, .8) url('../img/dara-logo-lg-white.png') 110% 10% no-repeat;
		max-width: 700px;
		padding: 18px 35px;
		text-align: left;
		color: #dde7f1;
	}
		.h1{
			display: block;
			color:white;
		}
		a{
			color: #dd9c40 !important;
			font-size: 30px !important;
			font-family: 'Open Sans Semibold';
		}
		.us-num,
		.uk-num,
		.au-num,
		.int-num{
			color: #dd9c40;
			font-size: 24px;
		}
}	